@using AppMVCWeb.Menu
@inject AdminSidebarService AdminSidebarService
@model AppMVCWeb.Models.Contacts.Contact

@{
    ViewData["Title"] = "Thông tin liên hệ";
    Layout = "_LayoutAdmin";
}

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

@{
    AdminSidebarService.SetActive("Contact", "Index", "Contact");
}

@section AdminSidebar
{
    @Html.Raw(AdminSidebarService.RenderHtml())
}